.header-volver {
  padding: 10px 18px 0px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #ffffff;
  font-family: "Itim", cursive;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.header-volver span {
  font-size: 20px;
}
