.user-levels-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.user-levels-badge {
  background-color: #ffd17d;
  font-size: 25px;
  width: 75%;
  padding: 13px 20px;
  text-align: center;
  border-radius: 10px;
  color: #33027d;
}
