.container-principal {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 180px);
  position: relative;
  padding-bottom: 100px;
}

.card-centro {
  border-radius: 25px;
  background-color: #ffffff;
  /* width: 350px;
  height: 635px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono-card-centro {
  margin-top: 60px;
}

.pedidofinalizadotxt {
  margin-top: 60px;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Itim", cursive;
}

.spin-icon {
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reloj-gif {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}
