.go-to-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 180px);
  position: relative;
  padding-bottom: 100px;
}
.go-to-store-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.go-store-instructions {
  width: 100%;
}

.go-store-instructions > :first-child {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.go-store-instructions > :last-child {
  font-size: 16px;
}

.go-store-instructions span {
  display: block;
}

.map-preview {
  width: 100%;
  height: 350px;
  margin: 15px 0;
  border-radius: 8px;
  overflow: hidden;
}

/* .map-preview > div {
  height: 200px !important;
} */
