.go-to-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 180px);
  position: relative;
  padding-bottom: 100px;
}
.go-client-instructions {
  width: 100%;
}
.go-client-instructions > :first-child {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  display: block;
}
.go-client-instructions > :last-child {
  font-size: 16px;
  display: block;
}
.go-to-client-title {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}
