.in-store-body {
  min-height: calc(100vh - 180px);
  position: relative;
  padding-bottom: 100px;
}

.in-store-body .button-confirm {
  background-color: #33027d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  width: 100%;
}

.confirm-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.pickup-order {
  font-size: 20px;
}

.order-id-name {
  display: flex;
  gap: 20px;
}

.section-client-order {
  display: flex;
  flex-direction: column;
}
