.container-principal {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.card-centro {
  /* border: 2px solid black; */
  border-radius: 25px;
  background-color: #ffffff;
  width: 350px;
  height: 635px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.graciasPorAyudatxt {
  font-size: 23px;
  margin-top: 13px;
}

.pedidofinalizadotxt {
  margin-top: 10px;
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Itim", cursive;
  /* margin-bottom: 90px; */
}

.volver-pedidos-btn {
  background-color: #33027d;
  border-radius: 10px;
  width: 250px;
  height: 55px;
  color: #ffffff;
  font-family: "Itim", cursive;
  font-size: 23px;
  margin-bottom: 15px;
}
