.content-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-history {
  padding-top: 0px;
}

.record-history {
  display: flex;
  justify-content: space-between;

  background-color: #552998;
  border-radius: 16px;
  padding: 20px 30px 5px;
  color: white;
  font-family: "Itim", cursive;
  max-width: 400px;
  width: 78%;
  margin-top: 20px;
}

.record-seccion-botones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.record-seccion-botones > span {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  font-weight: 400;
}

.record-seccion-botones button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.record-seccion-botones .active {
  background-color: #f4d576;
  color: #33027d;
}
.record-seccion-botones button {
  background-color: #4b1e90;
  color: white;
}

/* .record-seccion-botones button:hover {
  transform: scale(1.05);
} */

.record-seccion-textos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

.record-seccion-textos > :first-child {
  margin-bottom: 18px;
}

.record-seccion-textos span {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.95;
}
.record-seccion-textos span:first-child {
  font-size: 23px;
  font-weight: 400;
}
.record-seccion-textos span:nth-child(2) {
  text-align: center;
}
.record-seccion-textos span:last-child {
  font-size: 35px;
  font-weight: 400;
}

.monto-saldo-historico > span {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -1px;
}

.order-history-title {
  font-family: "Itim", cursive;
  text-align: center;
  margin-top: 25px;
  color: white;
  font-size: 20px;
}

.order-home {
  margin-top: 20px;
}
