body {
  background-color: #4c8479;
  margin: 0px;
  overflow-x: hidden;
}
html,
body,
#root {
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.title-h1 {
  color: #c8a758;
  font-family: "Itim", cursive;
  font-size: 64px;
  margin: 0px;
}

.subtitle {
  font-size: 36px;
  font-family: "Itim", cursive;
  color: #ffffff;
}
