.inputs-form {
  display: grid;
  align-items: center;
  gap: 27px;
  margin: 40px 25px 32px 25px;
  width: calc(100% - 50px);
  max-width: 380px;
  position: static;
}

input {
  height: 55px;
  border-radius: 16px;
  padding-left: 60px;
  font-family: "Itim", cursive;
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ddd;
  background-color: white;
}

.accion-login {
  background-color: #ffffff;
  height: 320px;
  border-radius: 60px 60px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 40px;
  margin-top: auto;
  position: relative;
}

.input-icon {
  position: relative;
  width: 100%;
}

.input-icon span {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #9a9a9a;
}

.accion-login > span {
  font-family: "Itim", cursive;
  color: #636363;
  font-size: 24px;
  margin: 15px 0px;
}

.forgot-password {
  margin: 15px 0px 20px;
  font-size: 24px;
  color: #3191e4;
}

.btn {
  font-family: "Itim", cursive;
  font-size: 24px;
  border-radius: 16px;
  width: 85vw;
  max-width: 350px;
  height: 55px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-login {
  background-color: #33027d;
  color: #ffffff;
  margin-top: 10px;
}

.btn-create-account {
  display: flex;
  align-items: center;
  background-color: #bbb6ff;
  color: #000;
  text-decoration: none;
  justify-content: center;
}

.login-page {
  min-height: 932px;
  height: 932px;
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  background-color: #33027d;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

@media (max-width: 430px) {
  .login-page {
    height: 932px;
    min-height: 932px;
  }

  .inputs-form {
    margin: 35px 20px 20px 20px;
    width: calc(100% - 40px);
    gap: 12px;
  }

  input {
    height: 50px;
    font-size: 22px;
    padding-left: 55px;
  }

  .input-icon span {
    top: 13px;
    left: 18px;
  }

  .accion-login {
    height: 300px;
    border-radius: 50px 50px 0 0;
    padding-top: 35px;
  }

  .btn {
    width: 90vw;
    max-width: 340px;
    font-size: 22px;
    height: 50px;
  }

  .forgot-password {
    font-size: 22px;
  }

  .accion-login > span {
    font-size: 22px;
  }
}

@media (max-height: 932px) {
  .login-page {
    height: auto;
    min-height: 100vh;
  }
}
