.password-changed-page {
  min-height: 100vh;
  background-color: #33027d;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 20px;
}

.title-h1 {
  color: #c8a758;
  font-family: "Itim", cursive;
  font-size: 64px;
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: 36px;
  font-family: "Itim", cursive;
  color: #ffffff;
  margin: 5px 0 0 0;
  text-align: center;
}

.password-changed-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}
.password-changed-icon {
  margin: 50px 0 30px 0;
  color: #f0ba39;
  border-radius: 10px;
  padding: 2px 5px 0px;
}

.success-title {
  font-family: "Itim", cursive;
  font-size: 36px;
  color: #ffffff;
  margin: 0 0 20px 0;
  font-weight: normal;
  text-align: center;
}

.success-message {
  font-family: "Itim", cursive;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 40px;
  max-width: 500px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.btn-login-password-changed {
  background-color: #f59031;
  color: #ffffff;
  font-family: "Itim", cursive;
  font-size: 24px;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  height: 55px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
}
